@model IEnumerable<VideoGameStore.Models.Credit_Card>

@{
    ViewBag.Title = "UserCards";
}

<h2>User Credit Cards</h2>

<p>@Html.ActionLink("Add A New Credit Card", "CreateUserCreditCard", "Credit_Card", null, new { @class = "btn btn-success" })</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.card_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.expiry_date)
        </th>        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
        {
            <td>
                @Html.DisplayFor(modelItem => item.card_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.expiry_date)
            </td>
        }        
        <td>
        </td>
    </tr>
}

</table>
